<div class="container">
  <div class="forgot-password-form col-md-4">
    <h5 class="forgot-label">Forgot Password</h5>
    <p class="help-text margin">Please enter your email and we will email a link to reset your password.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group">
        <div class="margin">
          <label for="email">Email</label>
          <span class="required-indicator"></span>
        </div>
        <input type="email" id="email" formControlName="email" class="form-control" required>
        <div *ngIf="email.touched && email.invalid" class="invalid-feedback-msg">Email must be a valid email address</div>
      </div>

      <div class="reset-password-button">
        <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
      </div>
      <div class="row form-group">
        <span class="col-md-12 links" (click)="backToLogin()">Back to Login</span>
      </div>
    </form>
  </div>
</div>
