.forgot-password-form {
  background: #f3f3f3;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 2px 2px 3px 0.5px #bdbbbb;

  .reset-password-button {
    text-align: center;
  }

}

.required-indicator:after {
  content:"*";
  color: #ED1C24;
  position: absolute;
  margin: -0.2em 0 0 0;
  padding: 0 0.35em 0 0;
}

.help-text {
  color: #908f8d;
  font-size: smaller;
}

.links {
  color: #56a5fb;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}

.margin {
  margin-top: 5px;
}
