<div class="form-group {{classes}}" [ngClass]="{ 'has-error': hasErrors()}">
  <label *ngIf="labelText" for="{{elementName}}">
    {{ labelText }}<span *ngIf="!noValidate" style="color: red;">*</span>
  </label>

  <input
    #field="ngModel"
    [id]="elementName"
    [name]="elementName"
    [type]="inputType"
    [customValidator]="customValidator"
    class="form-control"
    [(ngModel)]="model"
    (change)="change.emit()"
    placeholder="{{placeholder}}"
    [disabled]="isDisabled"
    [maxlength]="maxlength"
    required>

    <span>{{model}}</span>

  <form-errors [formComponent]="field" [errorMessages]="mergedErrorMessages"></form-errors>
</div>
