<div class="container">
  <div class="register-form col-md-6">
    <p class="register-failed-msg" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="firstName">First Name<sup>*</sup></label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" required>
        <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name<sup>*</sup></label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName" required>
        <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="form-group">
        <label for="username">Username<sup>*</sup></label>
        <input type="text" formControlName="username" class="form-control" id="username" required>
        <div *ngIf="username.invalid && username.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="form-group">
        <label for="password">Password<sup>*</sup></label>
        <input type="password" formControlName="password" class="form-control" id="password" required>
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password<sup>*</sup></label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" required>
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="submit-button">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>
