sup {
  color: red;
}

.register-form {
  background: #f3f3f3;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 0.5px #bdbbbb;

  .register-failed-msg {
    width: 100%;
    margin-bottom: .25rem;
    font-size: 14px;
    color: #dc3545;
  }

}
