table {
  width: 100%;

  .table-header-row {
    background: #eeeeee;
  }

  .table-data-row {
    cursor: pointer;

    &:hover {
      background-color: #cccccc;
      transition: linear all 0.25s;
    }

  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  min-height: 100px;
  padding: 15px 0;
}


.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
