<mat-form-field *ngIf="gridOptions?.enableFilter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of gridColumnsName">
      <!-- checkbox-section -->
      <ng-container *ngIf="column === 'select'">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!--checkbox section end -->

      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | titlecase }} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

    </ng-container>

    <ng-container *ngIf="gridOptions?.enableRowExpansion" matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="gridColumnsName.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedRow ? 'expanded' : 'collapsed'">
          <div [innerHTML]="element.template"></div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row class="table-header-row" *matHeaderRowDef="gridColumnsName"></tr>
    <tr mat-row *matRowDef="let row; columns: gridColumnsName;" class="table-data-row" [class.example-expanded-row]="expandedRow === row"
      (click)="expandedRow = expandedRow === row ? null : row"></tr>

    <tr [hidden]="!gridOptions?.enableRowExpansion" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [hidden]="!gridOptions?.enablePagination" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
