<div class="sidebar">
  <h2>Custom Controls</h2>
  <ul class="control-list">
    <li (click)="displaySelectedControl(control.aliasName)" [class.active]="control.isActive"
      *ngFor="let control of controls">{{control.displayName}}</li>
  </ul>
</div>

<div class="control-output">

  <div class="canvas">
    <app-login-form
      *ngIf="isControlActive('login')"
      (submitLoginForm)="onSubmit($event)"
      (forgotPasswordLink)="forgotPassword()"
      [isShowCredentialsErrorMsg]="isLoggingFailed">
    </app-login-form>

    <app-register
      *ngIf="isControlActive('register')"
      (submitedRegisterForm)="registerFormSubmission($event)">
    </app-register>

    <!-- <app-grid
      *ngIf="isControlActive('grid')">
    </app-grid> -->

    <app-grid-ui
      *ngIf="isControlActive('grid')"
      [gridSourceData]="grid.data"
      [gridColumnsName]="grid.gridColunms"
      [gridOptions]="grid.options">
    </app-grid-ui>

    <form *ngIf="isControlActive('requiredSelect') || isControlActive('requiredInput')">
      <required-select-ngx
        *ngIf="isControlActive('requiredSelect')"
        classes="col-md-9"
        placeholder="- Select -"
        errorMessage="This is error message"
        showHelptext="true"
        helptext="This is info message."
        labelText="User"
        elementName="select-user"
        [(model)]="requireSelectControl.listOptions[0].value"
        [options]="requireSelectControl.listOptions"
        (change)="someMethod()">
      </required-select-ngx>

      <required-input-ngx
        *ngIf="isControlActive('requiredInput')"
        classes="col-xs-4"
        labelText="Required Input"
        elementName="required-input"
        [(model)]="requiredInput"
        maxLength="80"
        [errorMessages]="['This is error 1']">
      </required-input-ngx>
    </form>

    <pre class="code-snippet">{{selectedSnippet}}</pre>
  </div>

</div>
