@import '../../app-variables';

.sidebar {
  width: 340px;
  background: #fafafa;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;

  h2 {
    font-size: 28px;
  }

  .control-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;

    >li {
      width: 100%;
      font-weight: 500;
      color: $light_blue;
      text-decoration: underline;
      margin-bottom: 5px;
      cursor: pointer;

      &.active {
        background: none;
        color: darken($light_blue, 25%);
      }

      &:hover {
        transition: linear all 0.25s;
        color: darken($light_blue, 15%)
      }
    }
  }
}

.control-output {
  width: calc(100% - 340px);
  margin-left: 340px;

  .canvas {
    width: 80%;
    margin: 100px auto;
  }

  .code-snippet {
    border: 1px solid #ccc;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
    background: #eee;
    position: relative;

    &:after {
      content: 'Code Snippet';
      background: #ccc;
      padding: 8px 15px;
      position: absolute;
      right: 0;
      top: 0;
      color: #0d0de2;
    }
  }
}
