@import 'app-variables';

html {
  height: 100%;
  font-family: sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  background-color: $medium-gray;
}

.form-control {
  &.ng-touched {
    &.ng-invalid {
      border: 1px solid #dc3545;
    }

  }
}

.invalid-feedback-msg {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}


.submit-button {
  text-align: center;

  button {
    width: 30%;
  }
}
