<div class="container">
  <div class="login-form col-md-4">
    <p class="login-failed-msg" *ngIf="isShowCredentialsErrorMsg">Credentials are incorrect. Please try again</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group">
        <div class="margin">
          <label for="username">Username</label>
          <span class="required-indicator"></span>
        </div>
        <input type="text" formControlName="username" class="form-control" id="username" required>
        <div *ngIf="username.invalid && username.touched" class="invalid-feedback-msg">This field is required</div>
      </div>

      <div class="form-group">
        <div class="margin">
          <label for="password">Password</label>
          <span class="required-indicator"></span>
        </div>
        <input type="password" formControlName="password" class="form-control" id="password" required>
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback-msg">This field is required</div>
      </div>
      <div class="submit-button">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
      <div class="row form-group">
        <span class="col-md-12 links alignment" (click)="forgotPassword()">Forgot Password</span>
      </div>
    </form>
  </div>
</div>
