.login-form {
  background: #f3f3f3;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 0.5px #bdbbbb;

  .login-failed-msg {
    width: 100%;
    margin-bottom: .25rem;
    font-size: 14px;
    color: #dc3545;
  }

}

.required-indicator:after {
  content:"*";
  color: #ED1C24;
  position: absolute;
  margin: -0.2em 0 0 0;
  padding: 0 0.35em 0 0;
}

.links {
  color: #56a5fb;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}
