@import '../../app-variables';

.nav {
  background-color: $light-gray;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .margin-bottom-zero {
      margin-bottom: 0;
    }

    .logo {
      margin-right: 40px;

      img {
        display: block;
      }
    }

    .menus {
      display: flex;
      justify-content: flex-start;

      .item {
        padding: 10px 20px;
        color: $black;
        font-family: sans-serif;
        font-size: 18px;

        &:not(.active):hover {
          background-color: lighten($dark-gray, 25%);
          transition: linear all 0.25s;
          cursor: pointer;
        }
      }

      .dropdown {
        position: relative;

        &:hover {
          >ul {
            display: block;
          }
        }

      }
    }

    .sub-menu {
      background: lighten($dark-gray, 25%);
      position: absolute;
      left: 0;
      top: 41px;
      width: 160px;
      display: none;

      li {
        padding: 8px 15px;
        cursor: pointer;

        &:hover {
          background: lighten($dark-gray, 10%);
        }
      }

    }
  }
}
