<div class="nav">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="http://via.placeholder.com/150x80?text=logo" alt="BeeTechnica" width="150" height="80">
      </div>
      <ul class="menus">
        <li class="item active">Home</li>
        <li class="item">About</li>
        <li class="item">Products</li>
        <li class="item dropdown">Services
          <ul class="sub-menu">
            <li>Service One</li>
            <li>Service Two</li>
            <li>Service Three</li>
          </ul>
        </li>
        <li class="item">Contact</li>
      </ul>
      <div class="form-group margin-bottom-zero">
        <input class="form-control" placeholder="Search">
      </div>
    </div>
  </div>
</div>
