<div class="{{ classes }} col-md-6" [ngClass]="{ 'has-error': hasErrors()}">
  <label *ngIf="labelText" for="{{elementName}}">
    {{ labelText }}<span *ngIf="!noValidate" style="color: red;">*</span>
  </label>

  <!-- IF YOU UPDATE THE VALUE KEY (option.lookupIndex) YOU MUST ALSO UPDATE THE valid-values DIRECTIVE -->
  <select
    *ngIf="options"
    class="form-control {{ classes }}"
    [name]="elementName"
    [id]="elementName"
    [(ngModel)]="model"
    [required]="!noValidate"
    [disabled]="isDisabled"
    #selectField="ngModel"
    valid-values="options"
    (change)="doOnChange(model)">

    <option value='' [disabled]="!noValidate">
      {{placeholder}}
    </option>

    <option *ngFor="let option of options" [ngValue]="option.value">
      {{option.name}}
    </option>
  </select>

  <select *ngIf="!options"
          class="form-control {{ classes }}"
          name="{{elementName}}-placeholder"
          id="{{elementName}}-placeholder"
          disabled="true">
    <!-- TODO: rework hidding the placeholder -->
    <option value='' [disabled]="!noValidate">
      {{placeholder}}
    </option>
  </select>

  <div *ngIf="!noValidate && hasErrors()">
    <p class="small text-danger" *ngIf="selectField.errors.required">{{ errorMessage }}</p>
    <p class="small text-danger" *ngIf="selectField.errors.validValues">{{ errorMessage }}</p>
  </div>

  <p *ngIf="showHelptext" class="help-block">{{ helptext }}</p>
</div>
